### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### .NET daemon ###
MediaInfoDaemon.exe
MediaInfoDaemon_old.exe
MediaInfoHelper.exe
src/main/resources/native/MediaInfoDaemon/bin/
src/main/resources/native/MediaInfoDaemon/obj/
src/main/resources/native/MediaInfoDaemon/publish/